// app global css in SCSS form

body {
  font-family: "Nunito", sans-serif;
  background-color: #e0e0e0;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}
